# Ejercicios prácticos de Python
### Minería de Datos
#### José Ignacio Contreras Ruiz
##### 1887848

##### Ejercicio 1:
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [3]:
a = 1887848
b = "José Ignacio Contreras Ruiz"
print(b, a)

José Ignacio Contreras Ruiz 1887848

##### Ejercicio 2

In [6]:
a1 = int(input("Introduce un número:" ))
b1 = int(input("Introduce otro número: "))
suma = a1 + b1
mult = a1 * b1
div = a1/b1
rest = a1-b1
exp = a1^b1
print("La suma es:", suma)
print("El producto es:", mult)
print("La división es:", div)
print("La diferencia es: ", rest)
print("El primer número elevado al segundo es:", exp)

Introduce un número: 3
Introduce otro número:  2

La suma es: 5
El producto es: 6
La división es: 1.5
La diferencia es:  1
El primer número elevado al segundo es: 1

##### Ejercicio 3

In [195]:
import numpy as np
listado = list()
suma = 0
for i in range(1,11):
    mult = i * 3
    listado.append(mult)
    print(mult)
    suma = suma + mult  
print ("La suma es:", suma)

3
6
9
12
15
18
21
24
27
30
La suma es: 165

##### Ejercicio 4

In [221]:
c = 1
a = int(input("Introduce un número:" ))
if a %2 == 0:
            print("El número es par")
else:
            print("El número es impar")
b = int(input("Introduce otro número:" ))
if b < 1:
    print("Error")
elif b == 2:
        print("El número es primo")
else:
    for i in range(2, b):
        if b % i == 0:
            c = 0
if c == 0:
    print("El número no es primo")
else:
    print("El número es primo")

Introduce un número: 85

El número es impar

Introduce otro número: 11

El número es primo

##### Ejercicio 5

In [250]:
print("¿Tu dos números son 1.Entero 2.Decimal 3. Complejo 4.Texto?")
a = int(input("Introduce un número:" ))
if a == 1:
    a1 = int(input("Introduce primer número:" ))
    b1 = int(input("Introduce segundo número: "))
    suma = a1 + b1
    mult = a1 * b1
    div = a1/b1
    rest = a1-b1
    exp = a1^b1
    print("La suma es:", suma)
    print("El producto es:", mult)
    print("La división es:", div)
    print("La diferencia es: ", rest)
    print("El primer número elevado al segundo es:", exp)
else:
    if a == 2:
        a1 = float(input("Introduce primer número:" ))
        b1 = float(input("Introduce segundo número: "))
        suma = a1 + b1
        mult = a1 * b1
        div = a1/b1
        rest = a1-b1
        print("La suma es:", suma)
        print("El producto es:", mult)
        print("La división es:", div)
        print("La diferencia es: ", rest)
        print("El primer número elevado al segundo es:", exp)
    else: 
        print("Lo siento por el momento la calculadora no funciona con esos datos")

¿Tu dos números son 1.Entero 2.Decimal 3. Complejo 4.Texto?

Introduce un número: 2
Introduce primer número: 3.5
Introduce segundo número:  4.1

La suma es: 7.6
El producto es: 14.349999999999998
La división es: 0.853658536585366
La diferencia es:  -0.5999999999999996
El primer número elevado al segundo es: 1

### Tuplas

In [248]:

a = int(2)
b = float(2.1)
c = bool(45)
d = 4 + 2j
print("La variabla a:",a, " es", type(a))
print("La variabla b:",b, " es", type(b))
print("La variabla c:", c, " es", type(c))
print("La variabla d:",d, " es", type(d))

La variabla a: 2  es <class 'int'>
La variabla b: 2.1  es <class 'float'>
La variabla c: True  es <class 'bool'>
La variabla d: (4+2j)  es <class 'complex'>

In [22]:
tupla = (1,2,3)
tupla[0], tupla[2]

(1, 3)

In [25]:
tupla = tupla, "Hola", "tupla","Part2"
tupla

((1, 2, 3), 'Hola', 'tupla', 'Part2')

In [29]:
print(tupla.index("Hola"))
print(tupla.index(4))

1

ValueError: tuple.index(x): x not in tuple

### Listas

In [1]:
import random as r
lista = range(0,100)
lista = r.sample(lista, k = 40)
lista

[59,
 33,
 84,
 42,
 43,
 8,
 51,
 95,
 12,
 13,
 85,
 17,
 97,
 27,
 79,
 6,
 58,
 3,
 86,
 21,
 49,
 41,
 54,
 30,
 69,
 94,
 48,
 19,
 7,
 78,
 93,
 25,
 81,
 99,
 4,
 87,
 22,
 82,
 60,
 39]

In [2]:
pares = []
impares = []
for i in range(len(lista)):
        lista[i]
        if lista[i] %2 == 0:
            pares.append(lista[i])
        else:
            impares.append(lista[i])

In [3]:
pares

[84, 42, 8, 12, 6, 58, 86, 54, 30, 94, 48, 78, 4, 22, 82, 60]

In [4]:
impares

[59,
 33,
 43,
 51,
 95,
 13,
 85,
 17,
 97,
 27,
 79,
 3,
 21,
 49,
 41,
 69,
 19,
 7,
 93,
 25,
 81,
 99,
 87,
 39]

In [5]:
lonp = len(pares)
lonim = len(impares)
print("El total de números pares son:",lonp)
print("El total de números impares son:", lonim)

El total de números pares son: 16
El total de números impares son: 24

In [6]:
imparesord = sorted(impares)
imparesord

[3,
 7,
 13,
 17,
 19,
 21,
 25,
 27,
 33,
 39,
 41,
 43,
 49,
 51,
 59,
 69,
 79,
 81,
 85,
 87,
 93,
 95,
 97,
 99]

In [7]:
paresord = sorted(pares, reverse = True)
paresord

[94, 86, 84, 82, 78, 60, 58, 54, 48, 42, 30, 22, 12, 8, 6, 4]

In [8]:
lista.append(5)
lista.extend([105])
lista.count(105)

1

In [9]:
lista.index(105)

41

In [10]:
lista

[59,
 33,
 84,
 42,
 43,
 8,
 51,
 95,
 12,
 13,
 85,
 17,
 97,
 27,
 79,
 6,
 58,
 3,
 86,
 21,
 49,
 41,
 54,
 30,
 69,
 94,
 48,
 19,
 7,
 78,
 93,
 25,
 81,
 99,
 4,
 87,
 22,
 82,
 60,
 39,
 5,
 105]

### Diccionarios

In [158]:
diccionario = {'Nombres' : ['Paola','Mariana','Tania','Victor','Rafael', 'Kevin'],'Edades' : [21, 20, 20, 21, 22, 21]}
diccionario

{'Nombres': ['Paola', 'Mariana', 'Tania', 'Victor', 'Rafael', 'Kevin'],
 'Edades': [21, 20, 20, 21, 22, 21]}

In [159]:
print(diccionario['Edades'][0])

21

In [160]:
lsted = diccionario.get('Edades')

In [161]:
lsted.sort()
print ("Las edades de menor  a mayor son",lsted)

Las edades de menor  a mayor son [20, 20, 21, 21, 21, 22]

In [162]:
for i in range(len(lsted)):
    print (diccionario['Nombres'][i])

Paola
Mariana
Tania
Victor
Rafael
Kevin

In [163]:
#Como dentro de nuestro diccionario hay listas, hay que actualizarlo de manera completa
dicup = {'Nombres' : ['Paola','Mariana','Tania','Victor','Rafael', 'Kevin','Ignacio','Andrea'], 'Edades':[21, 20, 20, 21, 22, 21,21,25]}
diccionario.update(dicup)

In [164]:
diccionario

{'Nombres': ['Paola',
  'Mariana',
  'Tania',
  'Victor',
  'Rafael',
  'Kevin',
  'Ignacio',
  'Andrea'],
 'Edades': [21, 20, 20, 21, 22, 21, 21, 25]}

### Sets

In [239]:
# Como vimos en clase, los sets no permiten el mismo elemento dos veces, por lo que al hacer de manera aleatoria
# Cien números entre 1 y 25, terminas con un set que contenga solo esos números, en un máximo de 25 de longitud
settest = set()
for i in range(0,99):
    settest.add(r.randint(1,25))

In [240]:
type(settest)

set

In [241]:
settest

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25}

In [242]:
print("El set es de longitud:",len(settest))

El set es de longitud: 25

In [243]:
for i in range(0,9):
    a = r.randint(0,100)
    print("¿El número aleatorio", a, "se encuentra en el set?")
    print(a in settest)

¿El número aleatorio 21 se encuentra en el set?
True
¿El número aleatorio 18 se encuentra en el set?
True
¿El número aleatorio 86 se encuentra en el set?
False
¿El número aleatorio 21 se encuentra en el set?
True
¿El número aleatorio 22 se encuentra en el set?
True
¿El número aleatorio 11 se encuentra en el set?
True
¿El número aleatorio 74 se encuentra en el set?
False
¿El número aleatorio 94 se encuentra en el set?
False
¿El número aleatorio 23 se encuentra en el set?
True